numpy
pandas
spacy
click
tqdm
matplotlib
seaborn
scikit-learn==1.6.1
torch
transformers
datasets
gensim
langchain-core
langchain-groq
groq
python-dotenv
fasttext-wheel
joblib
qdrant-client
fastembed
langchain-text-splitters
onnxruntime
sentence-transformers
fastapi
uvicorn
gradio